<div class="tought-form-container">
    <a href="/toughts/dashboard">Voltar</a>
    <h1>Criando tarefa</h1>
    <form action="/toughts/add" method="POST">
        <div class="form-control">
            <label for="title">Tarefa:</label>
            <input type="text" name="title" placeholder="digite sua tarefa">
        </div>
        <input type="submit" value="Criar Tarefa">
    </form>
</div>